In [307]:
import pandas as pd
import datetime

dfs = []
for i in range(3):
    title = "C:\\Users\\choiyool00\\Desktop\\Co-op\\ann\\merged_temp_and_deli" + str(2019 + i) + ".csv"
    dfs.append(pd.read_csv(title))
    print(dfs[i])

               Date Time  Hour Time Category  State  City  \
0       2019-05-19 14:00         14       치킨  서울특별시    중구
1       2019-05-21 16:00         16       한식  서울특별시   도봉구
2       2019-05-24 12:00         12       치킨  서울특별시   도봉구
3       2019-05-27 23:00         23       치킨  서울특별시    중구
4       2019-05-29 16:00         16       치킨  서울특별시   도봉구
...                  ...        ...      ...    ...   ...
163188  2019-12-31 23:00         23        회  서울특별시   구로구
163189  2019-12-31 23:00         23        회  서울특별시   노원구
163190  2019-12-31 23:00         23        회  서울특별시   도봉구
163191  2019-12-31 23:00         23        회  서울특별시  영등포구
163192  2019-12-31 23:00         23        회  서울특별시   은평구

        Number of Deliveries  Hour Category  Season Category  Weekday  \
0                          1              3                1        6
1                          1              3                1        1
2                          1              3                1        4
3                          1              4                1        0
4                          1              3                1        2
...                      ...            ...              ...      ...
163188                     3              4                4        1
163189                     7              4                4        1
163190                     2              4                4        1
163191                     1              4                4        1
163192                     9              4                4        1

        IsHoliday  기온(°C)  풍속(m/s)  강수량(mm)  일조(hr)  습도(%)  전운량(10분위)  \
0               1    21.0      1.5      0.4     0.0   91.0       10.0
1               0    22.8      4.5      NaN     1.0   30.0        0.0
2               0    28.8      1.3      NaN     1.0   33.0        0.0
3               0    15.3      3.5      NaN     NaN   62.0        NaN
4               0    26.3      4.3      NaN     1.0   28.0        0.0
...           ...     ...      ...      ...     ...    ...        ...
163188          0    -7.4      0.0      NaN     NaN   45.0        9.0
163189          0    -7.4      0.0      NaN     NaN   45.0        9.0
163190          0    -7.4      0.0      NaN     NaN   45.0        9.0
163191          0    -7.4      0.0      NaN     NaN   45.0        9.0
163192          0    -7.4      0.0      NaN     NaN   45.0        9.0

        현상번호(국내식)   지점  Dust Density
0          1901.0  108           7.0
1             NaN  108          33.0
2             NaN  108          48.0
3             NaN  108          12.0
4             NaN  108          31.0
...           ...  ...           ...
163188        NaN  108          24.0
163189        NaN  108          24.0
163190        NaN  108          24.0
163191        NaN  108          24.0
163192        NaN  108          24.0

[163193 rows x 19 columns]
               Date Time  Hour Time Category  State City  \
0       2020-01-01 00:00          0       분식  서울특별시  관악구
1       2020-01-01 00:00          0       분식  서울특별시  구로구
2       2020-01-01 00:00          0       분식  서울특별시  금천구
3       2020-01-01 00:00          0       분식  서울특별시  노원구
4       2020-01-01 00:00          0       야식  서울특별시  구로구
...                  ...        ...      ...    ...  ...
395653  2020-12-31 23:00         23       한식  서울특별시  은평구
395654  2020-12-31 23:00         23        회  서울특별시  강서구
395655  2020-12-31 23:00         23        회  서울특별시  구로구
395656  2020-12-31 23:00         23        회  서울특별시  양천구
395657  2020-12-31 23:00         23        회  서울특별시  은평구

        Number of Deliveries  Hour Category  Season Category  Weekday  \
0                          2              1                4        2
1                          1              1                4        2
2                          2              1                4        2
3                          8              1                4        2
4                          4              1                4        2
...                      ...            ...              ...      ...
395653                     3              4                4        3
395654                     1              4                4        3
395655                     6              4                4        3
395656                     1              4                4        3
395657                     5              4                4        3

        IsHoliday  기온(°C)  풍속(m/s)  강수량(mm)  일조(hr)  습도(%)  전운량(10분위)  \
0               1    -6.5      0.0      0.0     NaN     38        9.0
1               1    -6.5      0.0      0.0     NaN     38        9.0
2               1    -6.5      0.0      0.0     NaN     38        9.0
3               1    -6.5      0.0      0.0     NaN     38        9.0
4               1    -6.5      0.0      0.0     NaN     38        9.0
...           ...     ...      ...      ...     ...    ...        ...
395653          0    -7.6      2.2      NaN     NaN     65        0.0
395654          0    -7.6      2.2      NaN     NaN     65        0.0
395655          0    -7.6      2.2      NaN     NaN     65        0.0
395656          0    -7.6      2.2      NaN     NaN     65        0.0
395657          0    -7.6      2.2      NaN     NaN     65        0.0

        현상번호(국내식)   지점  Dust Density
0             5.0  108          27.0
1             5.0  108          27.0
2             5.0  108          27.0
3             5.0  108          27.0
4             5.0  108          27.0
...           ...  ...           ...
395653        NaN  108          43.0
395654        NaN  108          43.0
395655        NaN  108          43.0
395656        NaN  108          43.0
395657        NaN  108          43.0

[395658 rows x 19 columns]
               Date Time  Hour Time Category  State  City  \
0       2021-01-01 00:00          0   돈까스/일식  서울특별시   구로구
1       2021-01-01 00:00          0   돈까스/일식  서울특별시  영등포구
2       2021-01-01 00:00          0   돈까스/일식  서울특별시   은평구
3       2021-01-01 00:00          0   배달전문업체  서울특별시   동작구
4       2021-01-01 00:00          0   배달전문업체  서울특별시   서초구
...                  ...        ...      ...    ...   ...
167717  2021-07-31 23:00         23    패스트푸드  서울특별시   서초구
167718  2021-07-31 23:00         23    패스트푸드  서울특별시   양천구
167719  2021-07-31 23:00         23       한식  서울특별시   관악구
167720  2021-07-31 23:00         23       한식  서울특별시   금천구
167721  2021-07-31 23:00         23       한식  서울특별시   도봉구

        Number of Deliveries  Hour Category  Season Category  Weekday  \
0                          4              1                4        4
1                          1              1                4        4
2                          5              1                4        4
3                          2              1                4        4
4                          1              1                4        4
...                      ...            ...              ...      ...
167717                     1              4                2        5
167718                     1              4                2        5
167719                     1              4                2        5
167720                     1              4                2        5
167721                     1              4                2        5

        IsHoliday  기온(°C)  풍속(m/s)  강수량(mm)  일조(hr)  습도(%)  전운량(10분위)  \
0               1    -8.3      1.8      NaN     NaN     66        0.0
1               1    -8.3      1.8      NaN     NaN     66        0.0
2               1    -8.3      1.8      NaN     NaN     66        0.0
3               1    -8.3      1.8      NaN     NaN     66        0.0
4               1    -8.3      1.8      NaN     NaN     66        0.0
...           ...     ...      ...      ...     ...    ...        ...
167717          1    28.1      1.5      NaN     NaN     69        9.0
167718          1    28.1      1.5      NaN     NaN     69        9.0
167719          1    28.1      1.5      NaN     NaN     69        9.0
167720          1    28.1      1.5      NaN     NaN     69        9.0
167721          1    28.1      1.5      NaN     NaN     69        9.0

        현상번호(국내식)   지점  Dust Density
0             NaN  108          35.0
1             NaN  108          35.0
2             NaN  108          35.0
3             NaN  108          35.0
4             NaN  108          35.0
...           ...  ...           ...
167717        NaN  108          30.0
167718        NaN  108          30.0
167719        NaN  108          30.0
167720        NaN  108          30.0
167721        NaN  108          30.0

[167722 rows x 19 columns]

In [308]:
for i in range(len(dfs)):
    dfs[i] = dfs[i].rename(columns = {'기온(°C)': 'Temperature','습도(%)':'Humidity', '현상번호(국내식)':'Weather Code', '강수량(mm)': 'Precipitation'})
    dfs[i] = dfs[i].rename(columns = {'풍속(m/s)': 'Wind Speed', '일조(hr)': 'Sunshine', '전운량(10분위)': 'Cloud Level'})
dfs[0]

,Date Time,Hour Time,Category,State,City,Number of Deliveries,Hour Category,Season Category,Weekday,IsHoliday,Temperature,Wind Speed,Precipitation,Sunshine,Humidity,Cloud Level,Weather Code,지점,Dust Density
0,2019-05-19 14:00,14,치킨,서울특별시,중구,1,3,1,6,1,21.0,1.5,0.4,0.0,91.0,10.0,1901.0,108,7.0
1,2019-05-21 16:00,16,한식,서울특별시,도봉구,1,3,1,1,0,22.8,4.5,NaN,1.0,30.0,0.0,NaN,108,33.0
2,2019-05-24 12:00,12,치킨,서울특별시,도봉구,1,3,1,4,0,28.8,1.3,NaN,1.0,33.0,0.0,NaN,108,48.0
3,2019-05-27 23:00,23,치킨,서울특별시,중구,1,4,1,0,0,15.3,3.5,NaN,NaN,62.0,NaN,NaN,108,12.0
4,2019-05-29 16:00,16,치킨,서울특별시,도봉구,1,3,1,2,0,26.3,4.3,NaN,1.0,28.0,0.0,NaN,108,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163188,2019-12-31 23:00,23,회,서울특별시,구로구,3,4,4,1,0,-7.4,0.0,NaN,NaN,45.0,9.0,NaN,108,24.0
163189,2019-12-31 23:00,23,회,서울특별시,노원구,7,4,4,1,0,-7.4,0.0,NaN,NaN,45.0,9.0,NaN,108,24.0
163190,2019-12-31 23:00,23,회,서울특별시,도봉구,2,4,4,1,0,-7.4,0.0,NaN,NaN,45.0,9.0,NaN,108,24.0
163191,2019-12-31 23:00,23,회,서울특별시,영등포구,1,4,4,1,0,-7.4,0.0,NaN,NaN,45.0,9.0,NaN,108,24.0
163192,2019-12-31 23:00,23,회,서울특별시,은평구,9,4,4,1,0,-7.4,0.0,NaN,NaN,45.0,9.0,NaN,108,24.0

In [309]:
dfs[0] = dfs[0].groupby(['Date Time', 'Category', 'Temperature', 'Humidity', 'Wind Speed', 'Sunshine', 'Precipitation', 'Cloud Level', 'Weather Code', 'Hour Category', 'Season Category', 'Weekday', 'IsHoliday']).agg({'Number of Deliveries': list}).reset_index()
dfs[0]

,Date Time,Category,Temperature,Humidity,Wind Speed,Sunshine,Precipitation,Cloud Level,Weather Code,Hour Category,Season Category,Weekday,IsHoliday,Number of Deliveries
0,2019-05-19 14:00,치킨,21.0,91.0,1.5,0.0,0.4,10.0,1901.0,3,1,6,1,[1]
1,2019-05-30 20:00,카페/디저트,19.8,54.0,3.1,0.0,0.0,10.0,1.0,4,1,3,0,"[1, 3]"
2,2019-06-06 15:00,카페/디저트,24.4,63.0,1.0,0.0,0.0,10.0,4001.0,3,2,3,1,[2]
3,2019-06-06 16:00,카페/디저트,22.8,83.0,1.2,0.0,0.2,10.0,401901.0,3,2,3,1,"[3, 1]"
4,2019-06-06 17:00,카페/디저트,22.7,79.0,2.0,0.0,0.2,10.0,1901.0,3,2,3,1,"[6, 2]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2781,2019-12-30 15:00,카페/디저트,4.9,82.0,3.1,0.0,0.3,9.0,1901.0,3,4,0,0,"[3, 5, 3, 1, 1, 2, 4]"
2782,2019-12-30 15:00,패스트푸드,4.9,82.0,3.1,0.0,0.3,9.0,1901.0,3,4,0,0,"[21, 2, 1, 5, 5]"
2783,2019-12-30 15:00,피자,4.9,82.0,3.1,0.0,0.3,9.0,1901.0,3,4,0,0,"[2, 9, 1, 3]"
2784,2019-12-30 15:00,한식,4.9,82.0,3.1,0.0,0.3,9.0,1901.0,3,4,0,0,"[2, 5, 2, 1]"
2785,2019-12-30 15:00,회,4.9,82.0,3.1,0.0,0.3,9.0,1901.0,3,4,0,0,[2]

In [193]:
for i in range(len(dfs)):
    dfs[i]['Vector'] = dfs[i].apply(lambda row: ', '.join([f"{c}: {v}" for c, v in zip(row['Category'].split(', '), row['Total Deliveries'].split(', '))]), axis=1)
    dfs[i] = dfs[i].drop(columns={'Category', 'Total Deliveries'})

In [195]:
dfs[1]

,Hour Category,Temperature,Humidity,Wind Speed,Sunshine,Cloud Level,Season Category,IsHoliday,Dust Density,Weekday,Weather Code,Vector
Date Time,,,,,,,,,,,,
2020-01-01 09:00,1.0,-4.3,70.0,2.3,0.0,9.0,3.0,1.0,31.0,2.0,4005.0,"치킨: 1, 패스트푸드: 5, 한식: 1"
2020-01-01 10:00,1.0,-4.2,76.0,1.9,0.0,9.0,3.0,1.0,34.0,2.0,401905.0,"분식: 23, 아시안/양식: 2, 찜탕: 1, 치킨: 2, 카페/디저트: 8, 패스..."
2020-01-01 11:00,1.0,-3.4,75.0,1.5,0.0,9.0,3.0,1.0,36.0,2.0,1905.0,"도시락: 1, 돈까스/일식: 4, 분식: 47, 아시안/양식: 7, 야식: 1, 족..."
2020-01-01 12:00,2.0,-2.2,72.0,1.7,0.5,9.0,3.0,1.0,35.0,2.0,1905.0,"돈까스/일식: 9, 분식: 58, 아시안/양식: 16, 야식: 5, 족발/보쌈: 1..."
2020-01-02 08:00,1.0,-0.4,67.0,2.3,0.0,9.0,3.0,0.0,47.0,3.0,40.0,치킨: 2
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-29 15:00,2.0,1.4,82.0,3.2,0.0,10.0,3.0,0.0,127.0,1.0,1905.0,"도시락: 7, 돈까스/일식: 18, 배달전문업체: 10, 분식: 50, 심부름: 4..."
2020-12-29 16:00,2.0,1.1,79.0,3.2,0.0,10.0,3.0,0.0,130.0,1.0,1905.0,"도시락: 4, 돈까스/일식: 19, 배달전문업체: 14, 분식: 48, 심부름: 2..."
2020-12-29 17:00,2.0,0.5,75.0,3.8,0.0,10.0,3.0,0.0,117.0,1.0,1905.0,"도시락: 10, 돈까스/일식: 42, 배달전문업체: 25, 분식: 87, 아시안/양..."
2020-12-29 18:00,3.0,-0.1,67.0,3.2,0.0,10.0,3.0,0.0,112.0,1.0,401905.0,"도시락: 16, 돈까스/일식: 67, 배달전문업체: 42, 분식: 129, 심부름:..."
2020-12-31 17:00,2.0,-6.1,50.0,1.8,0.2,2.0,3.0,0.0,51.0,3.0,5.0,"도시락: 13, 돈까스/일식: 80, 배달전문업체: 21, 분식: 105, 아시안/..."

In [196]:
def add_index(row):
    # 체감 온도 추가
    wind_speed = (row['Wind Speed'] * 3.6) ** 0.16
    temp = row['Temperature']
    feeling_idx = 13.12 + 0.6215 * temp - 11.37 * wind_speed + 0.3965 * temp * wind_speed
    row['Feeling Temperature'] = feeling_idx

    # 불쾌 지수 추가
    humidity = row['Humidity']
    discomfort_idx = 0.81 * temp + 0.01 * humidity * (0.99 * temp - 14.3) + 46.3
    if 80 <= discomfort_idx:
        res = 4
    elif 75 <= discomfort_idx < 80:
        res = 3
    elif 68 <= discomfort_idx < 75:
        res = 2
    else:
        res = 1
    row['Discomfort Index'] = res
    
    dust = row['Dust Density']
    if 151 <= dust:
        res = 4
    elif 81 <= dust < 151:
        res = 3
    elif 31 <= dust < 80:
        res = 2
    else:
        res = 1
    row['Dust Level'] = res
    
    return row

for i in range(len(dfs)):
    dfs[i] = dfs[i].apply(add_index, axis=1)

In [197]:
dfs[1]

,Hour Category,Temperature,Humidity,Wind Speed,Sunshine,Cloud Level,Season Category,IsHoliday,Dust Density,Weekday,Weather Code,Vector,Feeling Temperature,Discomfort Index
Date Time,,,,,,,,,,,,,,
2020-01-01 09:00,1.0,-4.3,70.0,2.3,0.0,9.0,3.0,1.0,31.0,2.0,4005.0,"치킨: 1, 패스트푸드: 5, 한식: 1",-7.889307,29.82710
2020-01-01 10:00,1.0,-4.2,76.0,1.9,0.0,9.0,3.0,1.0,34.0,2.0,401905.0,"분식: 23, 아시안/양식: 2, 찜탕: 1, 치킨: 2, 카페/디저트: 8, 패스...",-7.221168,28.86992
2020-01-01 11:00,1.0,-3.4,75.0,1.5,0.0,9.0,3.0,1.0,36.0,2.0,1905.0,"도시락: 1, 돈까스/일식: 4, 분식: 47, 아시안/양식: 7, 야식: 1, 족...",-5.650424,30.29650
2020-01-01 12:00,2.0,-2.2,72.0,1.7,0.5,9.0,3.0,1.0,35.0,2.0,1905.0,"돈까스/일식: 9, 분식: 58, 아시안/양식: 16, 야식: 5, 족발/보쌈: 1...",-4.605791,32.65384
2020-01-02 08:00,1.0,-0.4,67.0,2.3,0.0,9.0,3.0,0.0,47.0,3.0,40.0,치킨: 2,-3.296791,36.12968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-29 15:00,2.0,1.4,82.0,3.2,0.0,10.0,3.0,0.0,127.0,1.0,1905.0,"도시락: 7, 돈까스/일식: 18, 배달전문업체: 10, 분식: 50, 심부름: 4...",-2.000137,36.84452
2020-12-29 16:00,2.0,1.1,79.0,3.2,0.0,10.0,3.0,0.0,130.0,1.0,1905.0,"도시락: 4, 돈까스/일식: 19, 배달전문업체: 14, 분식: 48, 심부름: 2...",-2.362459,36.75431
2020-12-29 17:00,2.0,0.5,75.0,3.8,0.0,10.0,3.0,0.0,117.0,1.0,1905.0,"도시락: 10, 돈까스/일식: 42, 배달전문업체: 25, 분식: 87, 아시안/양...",-3.547581,36.35125
2020-12-29 18:00,3.0,-0.1,67.0,3.2,0.0,10.0,3.0,0.0,112.0,1.0,401905.0,"도시락: 16, 돈까스/일식: 67, 배달전문업체: 42, 분식: 129, 심부름:...",-3.811747,36.57167
2020-12-31 17:00,2.0,-6.1,50.0,1.8,0.2,2.0,3.0,0.0,51.0,3.0,5.0,"도시락: 13, 돈까스/일식: 80, 배달전문업체: 21, 분식: 105, 아시안/...",-9.265189,31.18950

In [198]:
def modify_vector(row):
    vec = row['Vector']
    vec_lis = vec.split(', ')
    cate_lis = ['분식', '족발/보쌈', '찜/탕', '치킨', '카페/디저트', '피자', '한식', '돈까스/일식', '패스트푸드', '아시안/양식']
    dic = {elem: 0 for elem in cate_lis}
    for elem in vec_lis:
        food, num = map(str,elem.split(': '))
        dic[food] = int(num)
    row['Vector'] = str(list(dic.values()))[1:-1]
    return row

In [199]:
for i in range(len(dfs)):
    dfs[i] = dfs[i].apply(modify_vector, axis=1)
dfs[0]

,Hour Category,Temperature,Humidity,Wind Speed,Sunshine,Cloud Level,Season Category,IsHoliday,Dust Density,Weekday,Weather Code,Vector,Feeling Temperature,Discomfort Index
Date Time,,,,,,,,,,,,,,
2019-05-19 14:00,2.0,21.0,91.0,1.5,0.0,10.0,0.0,1.0,7.0,6.0,1901.0,"0, 0, 0, 1, 0, 0, 0, 0, 0, 0",22.185325,69.21590
2019-05-30 20:00,3.0,19.8,54.0,3.1,0.0,10.0,0.0,0.0,43.0,3.0,1.0,"0, 0, 0, 0, 4, 0, 0, 0, 0, 0",20.248648,65.20108
2019-06-01 10:00,1.0,20.1,55.0,2.8,0.9,5.0,1.0,1.0,33.0,5.0,40.0,"0, 0, 0, 0, 2, 0, 0, 0, 0, 0",20.690879,65.66045
2019-06-01 13:00,2.0,21.5,51.0,1.8,0.5,8.0,1.0,1.0,31.0,5.0,40.0,"0, 0, 0, 0, 2, 0, 0, 0, 0, 0",22.645421,67.27735
2019-06-05 11:00,1.0,25.5,51.0,1.8,1.0,4.0,1.0,0.0,45.0,2.0,40.0,"0, 0, 0, 0, 2, 0, 0, 0, 0, 0",27.270147,72.53695
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-30 14:00,2.0,5.4,87.0,2.7,0.0,10.0,3.0,0.0,72.0,0.0,1901.0,"52, 13, 0, 38, 20, 9, 22, 14, 39, 12, 8, 5, 3, 2",3.196758,42.88402
2019-12-30 15:00,2.0,4.9,82.0,3.1,0.0,9.0,3.0,0.0,65.0,0.0,1901.0,"32, 8, 0, 53, 19, 15, 10, 12, 34, 4, 13, 2, 4,...",2.297578,42.52082
2019-12-30 16:00,2.0,4.7,78.0,2.6,0.0,8.0,3.0,0.0,52.0,0.0,19.0,"53, 14, 0, 44, 23, 13, 12, 8, 32, 12, 11, 1, 1...",2.444695,42.58234
2019-12-30 17:00,2.0,4.5,66.0,2.7,0.0,8.0,3.0,0.0,50.0,0.0,4019.0,"55, 29, 0, 109, 28, 26, 26, 23, 38, 21, 6, 1, ...",2.123942,43.44730
2019-12-30 18:00,3.0,2.9,62.0,3.0,0.0,3.0,3.0,0.0,53.0,0.0,40.0,"86, 55, 0, 186, 27, 37, 63, 31, 63, 21, 8, 1, ...",-0.033292,41.56302

In [200]:
def modify_else(row):
    row['Weekday'] = int(row['Weekday'])
    code = row['Weather Code']
    res = 0 # res가 0이면 특별 기후 없음, 1이면 비, 2이면 눈, 3이면 흐림입니다.
    if pd.isna(code):
        code = 0
    else:
        code = int(code)
        # 토큰을 만들며 확인합니다.
        while code:
            token = code % 100
            if 1 <= token <= 4:
                res = 1
                break
            code = code // 100
    row['IsRain'] = res
    return row

In [201]:
for i in range(len(dfs)):
    dfs[i] = dfs[i].apply(modify_else, axis=1)
dfs[0]

,Hour Category,Temperature,Humidity,Wind Speed,Sunshine,Cloud Level,Season Category,IsHoliday,Dust Density,Weekday,Weather Code,Vector,Feeling Temperature,Discomfort Index,IsRain
Date Time,,,,,,,,,,,,,,,
2019-05-19 14:00,2.0,21.0,91.0,1.5,0.0,10.0,0.0,1.0,7.0,6,1901.0,"0, 0, 0, 1, 0, 0, 0, 0, 0, 0",22.185325,69.21590,1
2019-05-30 20:00,3.0,19.8,54.0,3.1,0.0,10.0,0.0,0.0,43.0,3,1.0,"0, 0, 0, 0, 4, 0, 0, 0, 0, 0",20.248648,65.20108,1
2019-06-01 10:00,1.0,20.1,55.0,2.8,0.9,5.0,1.0,1.0,33.0,5,40.0,"0, 0, 0, 0, 2, 0, 0, 0, 0, 0",20.690879,65.66045,0
2019-06-01 13:00,2.0,21.5,51.0,1.8,0.5,8.0,1.0,1.0,31.0,5,40.0,"0, 0, 0, 0, 2, 0, 0, 0, 0, 0",22.645421,67.27735,0
2019-06-05 11:00,1.0,25.5,51.0,1.8,1.0,4.0,1.0,0.0,45.0,2,40.0,"0, 0, 0, 0, 2, 0, 0, 0, 0, 0",27.270147,72.53695,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-30 14:00,2.0,5.4,87.0,2.7,0.0,10.0,3.0,0.0,72.0,0,1901.0,"52, 13, 0, 38, 20, 9, 22, 14, 39, 12, 8, 5, 3, 2",3.196758,42.88402,1
2019-12-30 15:00,2.0,4.9,82.0,3.1,0.0,9.0,3.0,0.0,65.0,0,1901.0,"32, 8, 0, 53, 19, 15, 10, 12, 34, 4, 13, 2, 4,...",2.297578,42.52082,1
2019-12-30 16:00,2.0,4.7,78.0,2.6,0.0,8.0,3.0,0.0,52.0,0,19.0,"53, 14, 0, 44, 23, 13, 12, 8, 32, 12, 11, 1, 1...",2.444695,42.58234,0
2019-12-30 17:00,2.0,4.5,66.0,2.7,0.0,8.0,3.0,0.0,50.0,0,4019.0,"55, 29, 0, 109, 28, 26, 26, 23, 38, 21, 6, 1, ...",2.123942,43.44730,0
2019-12-30 18:00,3.0,2.9,62.0,3.0,0.0,3.0,3.0,0.0,53.0,0,40.0,"86, 55, 0, 186, 27, 37, 63, 31, 63, 21, 8, 1, ...",-0.033292,41.56302,0

In [203]:
for i in range(len(dfs)):
    dfs[i] = dfs[i].reset_index().drop(columns=['Weather Code', 'Date Time'])
dfs[0]

,Hour Category,Temperature,Humidity,Wind Speed,Sunshine,Cloud Level,Season Category,IsHoliday,Dust Density,Weekday,Vector,Feeling Temperature,Discomfort Index,IsRain
0,2.0,21.0,91.0,1.5,0.0,10.0,0.0,1.0,7.0,6,"0, 0, 0, 1, 0, 0, 0, 0, 0, 0",22.185325,69.21590,1
1,3.0,19.8,54.0,3.1,0.0,10.0,0.0,0.0,43.0,3,"0, 0, 0, 0, 4, 0, 0, 0, 0, 0",20.248648,65.20108,1
2,1.0,20.1,55.0,2.8,0.9,5.0,1.0,1.0,33.0,5,"0, 0, 0, 0, 2, 0, 0, 0, 0, 0",20.690879,65.66045,0
3,2.0,21.5,51.0,1.8,0.5,8.0,1.0,1.0,31.0,5,"0, 0, 0, 0, 2, 0, 0, 0, 0, 0",22.645421,67.27735,0
4,1.0,25.5,51.0,1.8,1.0,4.0,1.0,0.0,45.0,2,"0, 0, 0, 0, 2, 0, 0, 0, 0, 0",27.270147,72.53695,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,2.0,5.4,87.0,2.7,0.0,10.0,3.0,0.0,72.0,0,"52, 13, 0, 38, 20, 9, 22, 14, 39, 12, 8, 5, 3, 2",3.196758,42.88402,1
584,2.0,4.9,82.0,3.1,0.0,9.0,3.0,0.0,65.0,0,"32, 8, 0, 53, 19, 15, 10, 12, 34, 4, 13, 2, 4,...",2.297578,42.52082,1
585,2.0,4.7,78.0,2.6,0.0,8.0,3.0,0.0,52.0,0,"53, 14, 0, 44, 23, 13, 12, 8, 32, 12, 11, 1, 1...",2.444695,42.58234,0
586,2.0,4.5,66.0,2.7,0.0,8.0,3.0,0.0,50.0,0,"55, 29, 0, 109, 28, 26, 26, 23, 38, 21, 6, 1, ...",2.123942,43.44730,0
587,3.0,2.9,62.0,3.0,0.0,3.0,3.0,0.0,53.0,0,"86, 55, 0, 186, 27, 37, 63, 31, 63, 21, 8, 1, ...",-0.033292,41.56302,0

In [204]:
for i in range(len(dfs)):
    title = './Vectorized_Seoul_Datas' + str(2019 + i) + '.csv'
    dfs[i].to_csv(title)

In [206]:
dfs[2]

,Hour Category,Temperature,Humidity,Wind Speed,Sunshine,Cloud Level,Season Category,IsHoliday,Dust Density,Weekday,Vector,Feeling Temperature,Discomfort Index,IsRain
0,2.0,-0.7,65.0,1.0,0.0,9.0,3.0,0.0,114.0,1,"49, 8, 0, 30, 38, 18, 25, 25, 39, 2, 5, 10, 2,...",-1.611986,35.98755,0
1,2.0,-0.8,74.0,2.4,0.0,9.0,3.0,0.0,99.0,1,"13, 8, 0, 14, 21, 11, 18, 13, 18, 2, 6, 3, 2, ...",-3.879811,34.48392,0
2,2.0,-1.5,88.0,0.8,0.0,9.0,3.0,0.0,109.0,1,"2, 6, 0, 6, 1, 5, 4, 3, 3, 0, 1",-1.983443,31.19420,0
3,2.0,-1.1,91.0,1.0,0.0,10.0,3.0,0.0,106.0,1,"1, 9, 0, 8, 2, 3, 4, 2, 3, 0, 4, 1",-2.055262,31.40501,0
4,3.0,-0.8,91.0,1.6,0.0,10.0,3.0,0.0,78.0,1,"0, 0, 0, 0, 2, 0, 0, 0, 0, 0",-2.843202,31.91828,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
630,3.0,24.8,88.0,0.8,0.0,10.0,1.0,0.0,15.0,0,"20, 11, 0, 36, 26, 6, 33, 130, 24, 1, 3, 19, 1...",26.712996,75.40976,1
631,2.0,33.0,56.0,1.2,0.0,8.0,1.0,0.0,45.0,2,"9, 0, 0, 10, 19, 2, 3, 45, 28, 0",35.796280,83.31720,1
632,2.0,34.5,52.0,1.7,0.7,8.0,1.0,0.0,41.0,2,"7, 0, 0, 12, 24, 1, 2, 37, 10, 1, 1, 1, 2",37.647432,84.56960,1
633,2.0,32.5,60.0,3.2,0.0,9.0,1.0,0.0,38.0,2,"7, 4, 0, 30, 17, 1, 10, 64, 13, 2, 2, 1, 2",35.560583,83.35000,1
634,2.0,30.2,70.0,3.1,0.0,8.0,1.0,0.0,76.0,2,"21, 6, 0, 59, 21, 1, 18, 80, 23, 2, 5, 1, 8",32.778253,81.68060,1